html,
body,
#root {
	height: 100%;
	background-color: #e3e3e3;
}

aside.ant-layout-sider {
	flex: 0 0 350px !important;
	min-width: 200px !important;
	max-width: 350px !important;
	width: 350px !important;
}

main.ant-layout-content::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.stories {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f9f9f9;
	border: thin solid #bebebe;
	min-width: 100%;
	height: 60px;
	text-align: center;
}

.ant-modal-centered {
	overflow: hidden;
}

ul.custom-menu-nav > li.ant-menu-item-selected svg,
ul.custom-menu-nav > li.ant-menu-item-active svg {
	fill: #1890ff;
}

.custom-post-info-modal .ant-modal-confirm-content {
	margin-left: 0 !important;
}

.custom-search-list {
	position: absolute;
	top: 100%;
	z-index: 100;
	background: #ffffff;
	box-shadow: 3px 3px 3px #00000033;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	max-height: 300px;
	overflow: auto;
}
